name = "shorten-url"
main = "src/index.ts"
compatibility_date = "2025-01-21"

# compatibility_flags = [ "nodejs_compat" ]

[vars]
API_KEY = "baccano"

[[kv_namespaces]]
binding = "KV"
id = "some_id"
preview_id = "some_id"